# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
#
define host {
  host_name                      Abydos
  alias                          Abydos (Shell)
  address                        130.159.141.69
  parents                        caprica
  use                            generic-host                        ; Name of host template to use
  hostgroups                     linux-servers,ssh-servers,nrpe-servers,vms
}

