###############################################################################
# contacts.cfg
###############################################################################
###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################
# In this simple config file, a single contact will receive all alerts.
#define contact {
#  contact_name                   root
#  alias                          Root
#  email                          root@localhost
#  host_notification_commands     notify-host-by-email
#  host_notification_options      d,r
#  host_notification_period       24x7
#  service_notification_commands  notify-service-by-email
#  service_notification_options   w,u,c,r
#  service_notification_period    24x7
#}

define contact {
  contact_name                   gsag
  alias                          GSAG
  email                          nagios-alerts@geeksoc.org
  host_notification_commands     notify-host-by-email,host-notify-by-ircbot,host-notify-by-hubot
  host_notification_options      d,r
  host_notification_period       24x7
  service_notification_commands  notify-service-by-email,notify-by-ircbot,notify-by-hubot
  service_notification_options   w,u,c,r
  service_notification_period    24x7
}

define contact {
  contact_name                   fusion_systems
  alias                          Fusion Systems Manager
  email                          systems@strathclydefusion.com
  host_notification_commands     notify-host-by-email
  host_notification_options      d,r
  host_notification_period       24x7
  service_notification_commands  notify-service-by-email
  service_notification_options   w,u,c,r
  service_notification_period    24x7
}

define contact {
  contact_name                   fusion_god
  alias                          Fusion God
  email                          benknight@strathclydefusion.com
  host_notification_commands     notify-host-by-email
  host_notification_options      d,r
  host_notification_period       24x7
  service_notification_commands  notify-service-by-email
  service_notification_options   w,u,c,r
  service_notification_period    24x7
}

define contact {
  contact_name                   as
  alias                          Andrew
  email                          asmillie@geeksoc.org
  host_notification_commands     notify-host-by-email
  host_notification_options      d,r
  host_notification_period       24x7
  service_notification_commands  notify-service-by-email
  service_notification_options   w,u,c,r
  service_notification_period    24x7
}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################
# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.
define contactgroup {
  contactgroup_name              admins
  alias                          Nagios Administrators
  members                        gsag
}

define contactgroup {
  contactgroup_name              fusion
  alias                          Fusion Contacts
  members                        fusion_systems,fusion_god
}

